In [1]:
import pandas as pd

In [3]:
olympic_data=pd.read_csv('C:\\Users\\kamit\\Desktop\\DataScience\\ML_Project\\InputFiles\\OlympicAthletes.csv')
df_olympic_data=pd.DataFrame(olympic_data)

In [5]:
a=olympic_data['Athlete'].unique().tolist() 
print("Count of Athlete = ",len(a))

Count of Athlete =  6956

In [7]:
olympic_data[olympic_data['Country']=='India']

,Athlete,Country,Year,Sport,Gold,Silver,Bronze,Total
1838,Vijender Singh,India,2008,Boxing,0,0,1,1
1873,Saina Nehwal,India,2012,Badminton,0,0,1,1
3414,Sushil Kumar,India,2008,Wrestling,0,0,1,1
3450,Karnam Malleswari,India,2000,Weightlifting,0,0,1,1
3595,Abhinav Bindra,India,2008,Shooting,1,0,0,1
4266,Vijay Kumar,India,2012,Shooting,0,1,0,1
6077,Yogeshwar Dutt,India,2012,Wrestling,0,0,1,1
6078,Sushil Kumar,India,2012,Wrestling,0,1,0,1
6194,Gagan Narang,India,2012,Shooting,0,0,1,1
6472,M. C. Mary Kom,India,2012,Boxing,0,0,1,1
7946,Rajyavardhan Rathore,India,2004,Shooting,0,1,0,1

In [8]:
sport_list=olympic_data['Sport'].unique().tolist()
sport_listfd

['Gymnastics',
 'Swimming',
 'Short-Track Speed Skating',
 'Diving',
 'Rhythmic Gymnastics',
 'Ice Hockey',
 'Fencing',
 'Table Tennis',
 'Football',
 'Figure Skating',
 'Archery',
 'Weightlifting',
 'Taekwondo',
 'Shooting',
 'Nordic Combined',
 'Judo',
 'Boxing',
 'Basketball',
 'Athletics',
 'Wrestling',
 'Waterpolo',
 'Volleyball',
 'Trampoline',
 'Tennis',
 'Synchronized Swimming',
 'Snowboarding',
 'Ski Jumping',
 'Hockey',
 'Handball',
 'Cycling',
 'Canoeing',
 'Speed Skating',
 'Softball',
 'Sailing',
 'Rowing',
 'Freestyle Skiing',
 'Cross Country Skiing',
 'Baseball',
 'Beach Volleyball',
 'Badminton',
 'Alpine Skiing',
 'Luge',
 'Biathlon',
 'Skeleton',
 'Bobsleigh',
 'Triathlon',
 'Modern Pentathlon',
 'Curling',
 'Equestrian']